body {
    background-color: antiquewhite;
}

#colors-section {
    border: solid;
    margin-bottom: 10px;
}

#font-section {
    border: solid;
    margin-bottom: 10px;
}

#text-styles {
    border: solid;
    margin-bottom: 10px;
}
