/* body {
    background-color: antiquewhite;
} */

#heading{
   text-align: center;
}

#section-headings{
    margin-bottom: 40px ;
}

#colors-section {
    margin: auto;
    width:90%;
    border: 3px solid blue;
    padding: 30px;
    margin-bottom:10px;
}
#colors-section h2 {
    font-family: 'Courier New', Courier, monospace;
}

#cool-blue {
    background-color: #2d5dcc;
    height: 100px;
    width: 400px;
    float: left;
    margin-bottom: 20px;  
}

#pink {
    background-color: #d957d9;
    margin-left: 10px;
    height: 100px;
    width: 400px; 
    float: left;
}

#mint-green {
    background-color: #4fe0b0;
    margin-left: 10px;
    height: 100px;
    width: 400px;
    float: left;   
}

#beige {
    background-color: #efd9ca;
    margin-left: 1px;
    margin-top: 30px;
    height: 100px;
    width: 400px;
    clear: left;
}


#font-section {
    margin: auto;
    width:90%;
    border: 3px solid blue;
    padding: 30px;
    margin-bottom:10px;
}

#font-section h2 {
    font-family: 'Courier New', Courier, monospace;
}

 #font-section1 {
    float:left;
} 

#source-code{
    display: block;
    margin-bottom: 10px;
    font-size: larger;
}

#source-codebold {
    display: block;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: large;
}

#source-codeitalic {

    margin-bottom: 10px;
    font-style:italic;
    font-size: larger;
}

#font-section2 {
    float:left;
    margin-left: 80px;
}

#nunito-sans{
    display: block;
    margin-bottom: 10px;
    font-size: larger;
} 

#nunito-sansbold{
    display: block;
    margin-bottom: 10px;
    font-weight:bold;
    font-size: large;
}

#nunito-sansitalic{
    font-style:italic;
    font-size: larger;
}

#font-section3 {
    margin-left: 10px;
    margin-top: 30px;
    clear: left;
}






#poppins{
    display: block;
    margin-bottom: 10px;
} 

#text-styles {
    border: 3px solid blue;
    margin-bottom: 10px;
}


