body {
    background-color: antiquewhite;
}

#colors-section {
    border: 3px solid blue;
    margin-bottom: 10px;
}

#font-section {
    border: 3px solid blue;
    margin-bottom: 10px;
}

#text-styles {
    border: 3px solid blue;
    margin-bottom: 10px;
}
